<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>RESTFUL API 사용예시</title>
<script th:src="@{/jquery/jquery-3.6.1.min.js}"></script>
<script>


	$(function(){
	
		getBrandList();
		
		$("#getDetail").click(function(){
			
			$.ajax({
				url : "/brand/" + $("#getDetailId").val(),
				type : "get",
				success : function(data) {
					
					let brandDetail = 
					`<table border='1'>
						<tr>
							<th>brandId</th>
							<th>brandNm</th>
							<th>activeYn</th>
							<th>enteredDt</th>
						</tr>
						<tr>
							<td>${data.brandId}</td>
							<td>${data.brandNm}</td>
							<td>${data.activeYn}</td>
							<td>${data.enteredDt}</td>
						</tr>
					 </table>
					`;
					
					$("#printData").html(brandDetail);
					
				}
				
			});
			
		});
		
		$("#create").click(function(){
		
			let param = {
				"brandId" : $("#creBrandId").val(),
				"brandNm" : $("#creBrandNm").val(),
				"enteredDt": $("#creEnteredDt").val(),
				"activeYn" : $("#creActiveYn").val()
			}
			
			$.ajax({
				
				url : "/brand",
				type : "post",
				contentType : "application/json",
				data : JSON.stringify(param),
				success : function() {
					getBrandList();
				}
				
			});
			
			
				
			
		});
	
		$("#update").click(function(){
	
			let param = {
				"brandId" : $("#upBrandId").val(),
				"brandNm" : $("#upBrandNm").val(),
				"enteredDt": $("#upEnteredDt").val(),
				"activeYn" : $("#upActiveYn").val()	
			}

			$.ajax({
				
				url : "/brand",
				type : "put",
				contentType : "application/json",
				data : JSON.stringify(param),
				success : function() {
					getBrandList();
				}
				
			});
			
			
		});
	
		$("#delete").click(function(){
	
			$.ajax({
				url : "/brand/" + $("#delBrandId").val(),
				type : "delete",
				success : function() {
					getBrandList();
				}
				
			});
			
		});
		
	});

	function getBrandList() {
	
		$.ajax({
			
			url : "/brand",
			type : "get",
			success : function(data) {
				
				let brandList = 
				`<table border='1'>
					<tr>
						<th>brandId</th>
						<th>brandNm</th>
						<th>activeYn</th>
						<th>enteredDt</th>
					</tr>`;
					$(data).each(function(){
						brandList += `
						<tr>
							<td>${this.brandId}</td>
							<td>${this.brandNm}</td>
							<td>${this.activeYn}</td>
							<td>${this.enteredDt}</td>
						</tr>
						`;
					});
					
					brandList += `</table>`;
					
					$("#printData").html(brandList);
				
			}			
			
		});
		
	}

</script>
</head>
<body>

	<h1>Brand Management</h1>
	<div id="printData">
	</div>
	<hr>
	
	<div>
		<h3>Get Brand Detail</h3>
		<p>brandId : <input type="text" id="getDetailId" placeholder="brandId"></p>
		<input type="button" id="getDetail" value="Get Detail">
	</div>
	<hr>
	
	<div>
		<h3>Create Brand</h3>
		<p>brandId : <input type="text" id="creBrandId" placeholder="brandId"></p>
		<p>brandNm : <input type="text" id="creBrandNm" placeholder="brandNm"></p>
		<p>enteredDt : <input type="text" id="creEnteredDt" placeholder="enteredDt"></p>
		<p>activeYn : <input type="text" id="creActiveYn" placeholder="activeYn"></p>
		<input type="button" id="create" value="Create">
	</div>
	<hr>

	<div>
	<h3>Update Brand</h3>
		<p>brandId : <input type="text" id="upBrandId" placeholder="brandId"></p>
		<p>brandNm : <input type="text" id="upBrandNm" placeholder="brandNm"></p>
		<p>enteredDt : <input type="text" id="upEnteredDt" placeholder="enteredDt"></p>
		<p>activeYn : <input type="text" id="upActiveYn" placeholder="activeYn"></p>
		<input type="button" id="update" value="Update">
	</div>
	
	<hr>

	<div>
		<h3>Delete Brand</h3>
		<p>brandId : <input type="text" id="delBrandId" placeholder="brandId"></p>
		<input type="button" id="delete" value="Delete">
	</div>

</body>
</html>