<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{/chapter01_thymeleaf/layout/ex/layout.html}">
<head>
<meta charset="UTF-8">
<title>게시글 삭제</title>
</head>
<body>

<div layout:fragment="content">
  <div align="center">
		<h3>게시글 삭제하기</h3>
		<table style="width: 700px" border="1">
			<tr>
				<td>글번호</td>
				<td>000</td>
			</tr>
			<tr>
				<td>패스워드</td>
				<td><input type="password" name="password" ></td>
			</tr>
			<tr align="right">
				<td colspan="2">
					<input type="submit" value="삭제하기">
				</td>
			</tr>
		</table>
	</div>
</div>


</body>
</html>