<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>delete reply</title>
</head>
<body>

	<div align="center" style="padding-top: 100px">
		<form th:action="@{/boardAdvance/deleteReply}" method="post">
			<h1>게시글 삭제</h1>
			<br>
			<table style="width: 700px" border="1">
				<tr>
					<td>작성자</td>
					<td th:text="${replyDTO.writer }"></td>
				</tr>
				<tr>
					<td>작성일</td>
					<td th:text="${#dates.format(replyDTO.enrollAt , 'yyyy-MM-dd')}"></td>
				</tr>
				<tr>
					<td>패스워드</td>
					<td><input type="password" name="passwd" size="60"></td>
				</tr>
				<tr align="right">
					<td colspan="2" align="right">
						<input type="hidden" name="replyId" th:value="${replyDTO.replyId }">
						<input type="hidden" name="boardId" th:value="${replyDTO.boardId }"> 
						<input type="submit" value="댓글삭제">
					</td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>