<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board detail</title>
</head>
<body>

	<div align="center">
		<h3>게시글 상세조회</h3>
		<table border="1">
			<tr>
				<td>조회수</td>
				<td th:text="${boardDTO.readCnt}"></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td th:text="${boardDTO.writer}"></td>
			</tr>
			<tr>
				<td>작성일</td>
				<td th:text="${#dates.format(boardDTO.enrollAt , 'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>제목</td>
				<td th:text="${boardDTO.subject}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td th:utext="${boardDTO.content}"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="button" value="수정" th:onclick="|location.href='@{/board/authentication(boardId=${boardDTO.boardId},menu=update)}'|">
					<input type="button" value="삭제" th:onclick="|location.href='@{/board/authentication(boardId=${boardDTO.boardId},menu=delete)}'|">
					<input type="button" value="목록보기" th:onclick="|location.href='@{/board/boardList'}|">
				</td>
			</tr>
		</table>
	</div>

</body>
</html>