<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board List</title>
</head>
<body>

	<div align="center">
		<h3>커뮤니티 게시글 리스트</h3>
		<table border="1">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			<tr th:each="boardDTO : ${boardList}">
				<td th:text="${boardDTOStat.count}"></td>
				<td><a th:href="|@{/board/boardDetail(boardId=${boardDTO.boardId}) }|" th:text="${boardDTO.subject}"></a></td>
				<td th:text="${boardDTO.writer}"></td>
				<td th:text="${#dates.format(boardDTO.enrollAt, 'yyyy-MM-dd')}"></td>
				<td th:text="${#numbers.formatInteger(boardDTO.readCnt, 1, 'COMMA')}"></td>
			</tr>
			<tr>
				<td colspan="5" align="right">
					<input type="button" th:onclick="|location.href='@{/board/createBoard'}|" value="글쓰기">
				</td>
			</tr>
		</table>
	</div>

</body>
</html>