<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.utility.scheduler.SchedulerDAO">

	<select id="getProductList" resultType="hashmap">
		SELECT
				*
		FROM
				PRODUCT
	</select>
	
	<select id="getBrandList" resultType="hashmap">
		SELECT
				*
		FROM
				BRAND
	</select>
	
</mapper> 